/* Page Layout ####################################################################################################### */

body {
	font-family: Arial !important;
	font-size: 14px;
	padding: 0;
	margin: 0;
}

h2, h3
{
	font-size: 20px;
	font-weight: bold;
}

#headerWrapper {
	background: #f5f5f5;
}

#topHeaderWrapper {
		border-bottom: 1px solid #A5A5A5;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
}

.contentWidth {
	width: 90%;
	max-width: 1280px;
	min-width: 768px; /* compliments spacer image in bottom of skin */
	margin-left: auto;
	margin-right: auto;
}

#logoContainer {
	padding-top: 15px;
}

#logo {
	float: left;
}

#logout {
	float: right;
}

#logout a, #logout a:hover, #logout a:visited
{
	color: #111111;
	text-decoration: none;
}

.logoutSpacing
{
	float: left;
	padding-left: 15px;
} 

.logoutSpacing a
{
	font-family:Arial;
	font-size:12px;
}

.btn, input[type="button"], input[type="submit"]
{
	background-image: linear-gradient(0deg, #F1C241 1%, #F4CD63 41%, #F8DF9D 99%);
	box-shadow: inset 0 1px 2px 0 rgba(255,255,255,0.80);
	border: 1px solid #A48222;
	border-radius: 2px;
	color: #111111;
	line-height: 18px;
	padding: 5px 25px 5px 25px;
}
.btn:disabled, input[type="button"]:disabled, input[type="submit"]:disabled
{
	opacity: .7;
}

.btn:active, input[type="button"]:active, input[type="submit"]:active {
    /*Format <inset> <x-offset> <y-offset> <blur> <amount> <color */
	-moz-box-shadow:    inset 0 0 2px #000000;
	-webkit-box-shadow: inset 0 0 2px #000000;
	box-shadow:         inset 0 0 2px #000000;
	text-indent:1px;

}
#mainMenu
{
	background: #F5F5F5;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	margin-top:25px;
	margin-bottom:15px;
}

#subMenuWrapper {
	border-bottom: 1px solid #E3E3E3;
	width: 100%;
}

#subMenu {
	background: #F5F5F5;
	margin-left: auto;
	margin-right: auto;
	margin-top:15px;
	margin-bottom:15px;
	font-weight:bold;
}

#contentWrapper {
	width: 100%;
	background-color: white;
}

#content {
	margin-top: 20px;

}
#contentText{
	margin: 0 40px 40px 40px;
}
fieldset {
	background-color: #f7f7f7;
	/* Pre-IE 9, if you specify *any* recognized border/background setting on a fieldset, it "goes square" and the background bleeds; see master page for workaround */
	/* IE9; legends/fieldsets screwed up in yet a new way; legend-background and margin settings */
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px 2px 2px 2px; /* IE9 apparently needs all 4 declared */
	border: 1px solid #E3E3E3;
	padding: 20px 20px 20px 20px;
	margin-bottom: 20px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
}

fieldset ul li
{
       clear: both;
}

legend
{
	color: #111111;
	font-size: 16px;
	font-weight: bold;
	margin-bottom:10px;
	float: left;
	width: 100%;

}

/* Menu ####################################################################################################### */


#mainMenu a
{
	color: #333333;
	text-decoration:none;
	border-bottom: none;
}

#mainMenu a.miCurrent, #subMenu a.miCurrent, #selectedAcctMenuCtnr a.miCurrent
{
	border-bottom: 1px solid #333333;
}

#mainMenu a.miAncestor
{
	border-bottom: solid 1px black;
}

#subMenu .hide
{
	color: White;
	background-color: White;
}

#subMenu .show
{
	padding: 0 0px 0 0px;
}

#subMenu a
{
	color: #333333;
	border-bottom: none;
	text-decoration: none;
}

#mainMenu a:hover, #subMenu a:hover
{
	border-bottom: solid 1px black;
}

#subMenu a.miAncestor
{
	border-bottom: solid 1px black;
}


/* Selected Account ############################################################################################ */
#selectedAcctMenuCtnr
{
	background-color: White;
	color: #F5F5F5;
	margin-top: 20px;
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom: 20px;
	border: 1px solid #E3E3E3;
}

#selectedAcctMenuCtnr a
{
	color: #111111;
	border-bottom: none;
	text-decoration: none;
}

#selectedAcctMenuCtnr a:hover
{
	border-bottom: solid 1px black;
}

.selectedAcctMenuSep
{
	color: #111111;
	margin: 0 .5em;
}

#selectedAcctMenuCtnr a.miAncestor
{
	border-bottom: solid 1px black;
}

#selectedAcctMenuSub a
{
	color: #111111;
}

#selectedAcctDetailCtnr
{
	border-right: 1px solid #414042;
	border-bottom: 1px solid #414042;
	margin-right: 40px;
	margin-left: 40px;
}

#selectedAcctDetailTable
{
	border-spacing: 0px;
	border-left: 1px solid #333333;
	border-top: 1px solid #333333;
	line-height: 18px;
}

#selectedAcctDetailTable th
{
	background-color: #F3CC6B;
	border-right: solid 1px #333333;
	border-bottom: solid 1px #333333;
	padding-left: 5px;
}

#selectedAcctDetailTable td
{
	vertical-align: top;
	border-right: 1px solid #333333;
	padding-left: 5px;
}

#selectedAcctMenuMain
{
	padding: 0.4em 0.4em 0.4em 0.4em;
	font-weight: bolder;
	color: white;
	background-color: #F5F5F5;
}

#selectedAcctMenuSub
{
	padding: 0.4em 0.4em 0.4em 0.4em;
	color: #F5F5F5;
	background-color: #e6e7e8;
}

/* Page Message ################################################################################################ */

#info
{
	margin-top: 15px;
}

.pmBoxFailure, .pmBoxError, .pmBoxInformation, .pmBoxSuccess, .pmBoxWarning
{
	margin-right: 40px;
	margin-left: 40px;
}

.pmBoxFailure, .pmBoxError
{
	font-size: 14px;
	padding-top: 17px;
	padding-bottom: 17px;
	padding-left: 30px;
	border: 1px solid #D11D00;
	box-shadow: inset 0 0 0 4px #F9CCCC;
	background-color: white;
	border-radius: 4px;
}

.pmBoxInformation
{
	font-size: 14px;
	padding-top: 17px;
	padding-bottom: 17px;
	padding-left: 30px;
	border: 1px solid #E4E4E4;
	background-color: #FBFBFB;
	border-radius: 4px;
}

.pmBoxSuccess
{
	font-size: 14px;
	padding-top: 17px;
	padding-bottom: 17px;
	padding-left: 30px;
	border: 1px solid #009300;
	background-color: #FBFBFB;
	box-shadow:inset 0 0 0 4px #EBFAEB;
	border-radius: 4px;
}

.pmBoxWarning
{
	font-size: 14px;
	padding-top: 17px;
	padding-bottom: 17px;
	padding-left: 30px;
	border: 1px solid #Bf7400;
	box-shadow:inset 0 0 0 4px #FFFAE7;
	background-color: #FBFBFB;
	border-radius: 4px;
}

#info ul{
	padding-left: 0;
}

/* .pmInformation, .pmSuccess, .pmWarning, .pmError, .pmFailure {  } */
/* pm box pop up classes  ####################################################################################### */
.pmBoxInformation ul li, .pmBoxSuccess ul li, .pmBoxWarning ul li, .pmBoxError ul li, .pmBoxFailure ul li
{
	list-style-type: none;
	padding-right: 30px;
}
.popUpDiv ul
{
	padding-left: 0;
}

.popUpDiv
{
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
	width: 40%;
	max-width: 800px;
	min-width: 400px;
	display: none;
	text-align:left;
	word-wrap: break-word !important;
	z-index: 100;
}

.popUpDiv div.pmBoxSuccess
{
	border: solid 1px #009300;
	border-radius: 4px;
	font-size: 14px;
	box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.50), inset 0 0 0 4px #EBFAEB;
	padding: 0px 10px 0px 10px;
	text-align:left;
}

.popUpDiv div.pmBoxFailure, .popUpDiv div.pmBoxError
{
	border: 1px solid #D11D00;
	border-radius: 4px;
	font-size: 14px;
	box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.50), inset 0 0 0 4px #F9CCCC;
	padding: 0px 10px 0px 10px;
	text-align:left;
}

.popUpDiv div.pmBoxWarning
{
	border: 1px solid #8F7400;
	border-radius: 4px;
	font-size: 14px;
	box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.50), inset 0 0 0 4px #FFFAE7;
	padding: 0px 10px 0px 10px;
	text-align:left;
}

.popUpDiv div.pmBoxInformation
{
	border: 1px solid #E4E4E4;
	border-radius: 4px;
	font-size: 14px;
	background-color: #FBFBFB;
	box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.50);
	padding: 0px 10px 0px 10px;
	text-align:left;
} 

.closePopUp
{
	float: right;
	padding-right: 0px;
	padding-top: 5px;
}

.closeX
{
	font-size: 120%;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	cursor: pointer;
}

.closeX:hover
{
	text-decoration: none;
}
/* Defaults ####################################################################################################### */
a
{
	font-family: Arial;
	color: #0066c0;
	text-decoration: underline;
}

img
{
	border: none;
}

a:hover
{
	color: #0066c0;
	text-decoration: underline;
}

a.anchor
{
	color: #0066c0;
	text-decoration: underline;
}

img
{
	border: 0;
}

th, caption
{
	text-align: left;
}


table
{
	width: 100%;
}


ul li
{
	list-style: square;
}

thead
{
	background-color: #F5F5F5;
	color: #111111;
}

wbr:after
{
	content: "\00200B";
}
/* Works around some browsers that don't respect the wbr tag. (http://www.quirksmode.org/oddsandends/wbr.html#t00) */

hr
{
	width: 100%;
	border: none 0;
	border-top: 1px solid rgb(0, 70, 30);
	height: 1px;
	clear: both;
}

input[type="text"]
{
	width: 400px;
}

input[type="password"]
{
	width: 400px;
}


/* Other ####################################################################################################### */
table.tblLayout
{
	margin: 0em;
	padding: 0em;
	outline: 0em;
	border-width: 0em;
	border-spacing: 0em;
	border-collapse: collapse; /* get rid of table row/cell padding/spacing */
}

table.tblLayout td
{
	padding: 0em;
	border-bottom: 0px;

}

table.tblDataList
{
	background-color: white;
	border-spacing: 0px;
	border-left: 1px solid #333333;
	border-top: 1px solid #333333;
	line-height: 18px;
	margin-top: 10px;
}

table.tblDataList th
{
	background-color: #F3CC6B;
	border-right: solid 1px #333333;
	border-bottom: solid 1px #333333;
	padding-left: 5px;
}

table.tblDataList td
{
	vertical-align: top;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	padding-left: 5px;
}

.trAlt td
{
}



.trGroupHeader
{
	background-color: #e6e7e8;
}

.trGroupHeader td
{
	border-bottom: 1px solid #414042;
}




.trAlt td.gridUserOnlyField, .trAlt td.gridUserOnlyFieldLast, .trMain td.gridUserOnlyField, .trMain td.gridUserOnlyFieldLast
{
	background-color: white;
}

.frmCtnrLabel
{
	width: 200px;
	text-align: left;
	font-weight:bold;
	word-wrap: break-word;
}

.frmCtnrInput
{
}

.frmCtnrMsg
{
	color: red;
	padding: 0em 0.5em;
	width: 90%;
}
div.RadEditor.Default.reWrapper
{
	min-width: 600px;
}
fieldset ul.reToolbar li
{
clear: none;
}
.frmCtnrLayout tr.userOnlyField td
{
	background-color: #d4d4d4;
}

.frmLabel
{
	font-weight: bold;
}

.frmCtnrLayout tr td.userOnlyField
{
	background-color: transparent;
	border: none !important;
}

.frmReqLabel:after
{
	font-weight: bold;
	color: red;
	content: " *";
}

.userOnlyField
{
	background-color: #d4d4d4;
}

.certTree li
{
	list-style: none;
}

.certTreeBullet
{
	display: inline-block;
	width: 1.5em;
}

.certFolder
{
	font-weight: bold;
}

.certTreeExpiredFirstItem
{
	color: red;
}

td.tdChanged
{
	border: 1px solid #414042;
}

.sortable th.sortable-text, .sortable th.sortable-numeric, .sortable th.sortable-date
{
	cursor: pointer;
	padding-left: 14px;
	background-image: url('../images/col-sort-none.png');
	background-repeat: no-repeat;
	background-position: 1px center;
	line-height: 20px;
}

.sortable th a, th a.fdTableSortTrigger
{
	color: #111111;
	font-family: inherit;
}

.sortable th a:hover
{
	text-decoration: none;
}

.sortable th.forwardSort
{
	background-image: url('../images/col-sort-asc.png');
}

.sortable th.reverseSort
{
	background-image: url('../images/col-sort-desc.png');
}

.x-combo-list
{
	text-align: left;
}

div.RadUpload ul li
{
	list-style: none;
}

.RadUpload .ruButton
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px; /* IE9 apparently needs all 4 declared */
}

.RadUpload .riBtn
{
	background-position: 0 -112px !important;
	border: 2px outset buttonface;
}

.RadUpload .ruButtonHover
{
	background-position: 100% -130px !important;
	border: 2px inset buttonface;
}

div.RadUpload .ruAdd
{
	border: 2px outset buttonface;
	background-position: 0 -112px !important;
}

div.RadUpload .ruAdd.ruButtonHover
{
	border: 2px inset buttonface;
	background-position: 100% -130px !important;
}

.RadInput_Default
{
	width: 110px !important;
}

#logoTagLine
{
	text-align: left;
	color: #F5F5F5;
	font-size: 2.5em;
	margin-left: .2em;
	margin-right: 1em;
}

.HelpImage
{
	padding: 0px 2px .25em 2px;
	max-height: 1em;
	max-width: 1em;
}

/*************************************************************************/
/* Custom classes for telerik controls added by michael andrews on 2014-02-26
/*************************************************************************/
/* set the header background colors */
.rgHeader, .rgHeader.rgGroupCol, .rgHeader.rgExpandCol
{
	background-color: #F3CC6B !important;
	background-image: none !important;
	color: #333333 !important;
	border-right: solid 1px #333333 !important
}

.rgHeader.rgGroupCol, .rgHeader.rgExpandCol
{
	border-right: none !important;
}

.rgGroupCol input[type="button"]
{
	box-shadow: none;
}

/* over-ride the above for first and last column lines*/
.gridHeaderFieldLast.rgHeader, .rgHeader.gridHeaderFieldSort.rgGroupCol, .rgHeader.gridHeaderFieldSort.rgExpandCol
{
	border-right: none !important
}


/*set any header text that are links */
.rgHeader a
{
	color: #333333 !important;
	border-bottom: none;
}

.rgHeader a:hover
{
	border-bottom: none !important;
}


/* set the background color when you sort by a column */
td.rgSorted
{
	background-color: white !important;
}

tr.rgAltRow td.rgSorted
{

}


/* the row where the search boxes show under the headers */
.rgFilterRow
{
	background-color: #333333 !important;
	background-image: none !important;

}

/* put a little padding on our custom filter image */
.rgFilterRow img
{
	padding-left: 5px !important;
	cursor: pointer !important;
}

.trMain
{
	background-color: White !important;
}

/* color our links in the grid rows */
.trMain td a
{
	color: #0066c0 !important;
	text-decoration: underline !important;
}

.trAlt td a
{
	color: #0066c0 !important;
	text-decoration: underline !important;
}

.rgNoRecords td 
{
	border-bottom: solid 1px black;
} 
.rgNoRecords td.rgGroupCol
{
	border-bottom: solid 1px black !important;
} 

.gridHeaderFieldNoBorder
{
	border-left: none !important;
	border-right: none !important;
	background-color: #F5F5F5;
}

.gridHeaderField
{

}

.gridHeaderFieldSort
{
	background-image: url('../images/col-sort-none.png') !important;
	padding-left: 15px !important;
	background-position: left center !important;
	background-repeat: no-repeat !important;

}

.gridHeaderFieldFirst
{
	border-left: none !important;
}

.gridHeaderFieldLast
{


}

.gridHeaderFieldSortFirstAsc
{
	background-image: url('../images/col-sort-asc.png') !important;
	padding-left: 15px !important;
	background-position: left center !important;
	background-repeat: no-repeat !important;
}

.gridHeaderFieldSortFirstDesc
{
	background-image: url('../images/col-sort-desc.png') !important;
	padding-left: 15px !important;
	background-position: left center !important;
	background-repeat: no-repeat !important;
	border-left: none !important;
	background-color: #F5F5F5;
}

.gridHeaderFieldSortFirst, .gridHeaderFieldSortFirst .rgHeader
{
	background-image: url('../images/col-sort-none.png') !important;
	padding-left: 15px !important;
	background-position: left center !important;
	background-repeat: no-repeat !important;
	background-color: #F5F5F5;
	border-left: none !important;
}

.gridHeaderFieldSortLast
{
	background-image: url('../images/col-sort-none.png') !important;
	padding-left: 15px !important;
	background-position: left center !important;
	background-repeat: no-repeat !important;
	border-right: none !important;
	background-color: #F5F5F5;
	font-family: Arial;
	font-size: 14px;
}


.gridHeaderFieldSortLastAsc
{
	background-image: url('../images/col-sort-asc.png') !important;
	padding-left: 15px !important;
	background-position: left center !important;
	background-repeat: no-repeat !important;
	border-right: none !important;
	background-color: #F5F5F5;
	font-family: Arial;
	font-size: 14px;
}


.gridHeaderFieldSortLastDesc
{
	background-image: url('../images/col-sort-desc.png') !important;
	padding-left: 15px !important;
	background-position: left center !important;
	background-repeat: no-repeat !important;
	border-right: none !important;
	background-color: #F5F5F5;
	font-family: Arial;
	font-size: 14px;
}


.gridHeaderFieldSortAsc
{
	background-image: url('../images/col-sort-asc.png') !important;
	padding-left: 15px !important;
	background-position: left center !important;
	background-repeat: no-repeat !important;
}

.gridHeaderFieldSortDesc
{
	background-image: url('../images/col-sort-desc.png') !important;
	padding-left: 15px !important;
	background-position: left center !important;
	background-repeat: no-repeat !important;
}

.gridUserOnlyField
{
	border-left: none !important;
	border-bottom: solid 1px #333333 !important;
}


.gridUserOnlyFieldBorder, .gridUserOnlyFieldBorderFirst
{
	border-left: solid 1px #333333 !important;
	font-family: Arial;
	font-size: 14px;


}
.gridUserOnlyFieldBorderFirst
{
	border-left: none !important;
}

.gridUserOnlyFieldBorderLast
{

	border-right: none !important;
	font-family: Arial;
	font-size: 14px;
}

.gridUserOnlyFieldFirst
{
	border-left: solid 1px #333333 !important;
	border-bottom: solid 1px #333333 !important;
}

.gridUserOnlyFieldLast
{
	border-left: solid 1px #333333 !important;
	border-right: none !important;
	border-bottom: solid 1px #333333 !important;
	background-color: #e6e7e8;
}

/* --------------- RadGrid Header Row ------*/


.RadGrid_Default .rgRow>td
{
	border-bottom: solid 1px #333333 !important;
}

.RadGrid_Default .rgAltRow>td
{
	border-bottom: solid 1px #333333 !important;
	background-color: white;
}

/*Make first column Arial*/
.RadGrid_Default .rgMasterTable, .RadGrid_Default .rgDetailTable, .RadGrid_Default .rgGroupPanel table, .RadGrid_Default .rgCommandRow table, .RadGrid_Default .rgEditForm table, .RadGrid_Default .rgPager table 
{
    font-family: Arial !important;
    font-size: 14px !important;
}
.RadGrid_Default
{
	border-bottom: none !important;
}

/* style the expanders */
.rgGroupCol
{
	/* hide sort
    display: none; */
	border-right: none !important;
	width: 1% !important;


}

tr.rgGroupHeader, td.rgGroupCol
{
	background-color: white !important
}

.rgGroupHeader td p, .rgGroupHeader td div
{
	color: #111111 !important;
}

/* our class for the items in group headers */
.rgGroupHeader td, rgGroupHeader
{
	border: none !important;
	border-bottom: 1px solid #414042 !important;
	background-color: #e6e7e8 !important;

}

.rgExpandCol
{
	background-color: white !important;
	width: 2% !important;
	border-left: none !important;
	border-right: none !important;
	background-image: none !important;
}

.break
{
	word-wrap: break-word !important;
	word-break: break-all;
}

.rgFilterRow
{
	/* hide filter
    display: none; */
}

.radTdGroupHeader
{
	background-color: #414042 !important;
	border-bottom-color: rgb(0, 0, 0) !important;
	border-bottom-style: solid !important;
	border-bottom-width: 1px !important;
	border-collapse: separate !important;
	font-family: Arial;
	height: 15px;
}
/* a class for the custom headers above rad grids */
.headerClass
{
	background-color: #F5F5F5;
	color: White;
	float: left;
	border-right: solid white 2px;
	border-bottom: solid white 2px;
	height: 18px;
	padding-top: 3px;
	text-indent: 1px;
}

.hideShowLink, .hideShowLink:hover
{
	color: #333333;
	text-decoration: none;
	border-bottom: none !important;
	border: 1px !important;

}

/* classes for our sorted headers */
.sortImage
{
}

/* this is what styles the pop out menu on the search incon in the filter box */
.rmItem
{
	background-color: White !important;
	background-image: none !important;
}
/* the currently selected filter icon */
.rmLink rmFocused
{
	background-image: none !important;
	background-color: #414042 !important;
	color: White !important;
}

.rmText
{
	background-image: none !important;
}

.rmFocused
{
	background-image: none !important;
}


.rmLink:hover
{
	background-image: none !important;
	background-color: #414042 !important;
	color: White !important;
}
/* our classes for the hide show arrows */
.hideLink
{
	background-image: url('../images/arrowUp.png');
	width: 24px;
	height: 17px;
	background-repeat: no-repeat;
	float: left;
	display: inline;
}

.showLink
{
	background-image: url('../images/arrowDown.png');
	width: 24px;
	height: 17px;
	background-repeat: no-repeat;
	float: left;
	display: inline;
}

div.RadMenu .rmActive
{
	background: White !important;
}

/*********************************************************************************/
/* selected row classes */
/*********************************************************************************/
.rgSelectedRow td
{
	background-color: rgb(217, 217, 217) !important;
	color: #414042 !important;
}

.rgHoveredRow td
{
	border-top: 1px solid white !important;
	border-bottom: 1px solid white !important;
}

.rgHoveredRow td.gridUserOnlyField, .rgHoveredRow td.gridUserOnlyFieldFirst, .rgHoveredRow td.gridUserOnlyFieldLast,
.rgHoveredRow td.gridUserOnlyFieldBorder, .rgHoveredRow td.gridUserOnlyFieldBorderFirst, .rgHoveredRow td.gridUserOnlyFieldBorderLast
{
	border: 1px solid #333333 !important;
	background-image: none !important;
}

.rgSelectedRow td.gridUserOnlyField, .rgSelectedRow td.gridUserOnlyFieldFirst, .rgSelectedRow td.gridUserOnlyFieldLast,
.rgSelectedRow td.gridUserOnlyFieldBorder, .rgSelectedRow td.gridUserOnlyFieldBorderFirst, .rgSelectedRow td.gridUserOnlyFieldBorderLast
{
	background-color: transparent;
	border: 1px solid #333333 !important;
	background-image: none !important;
	background-color: white;
}

td.gridUserOnlyField
{
	border-left: 1px solid #333333 !important;
	background-image: none !important;
	border-top: none !important;
}

td.gridUserOnlyFieldFirst
{
	border-left: 1px solid #333333 !important;
}

td.gridUserOnlyFieldLast
{
	border-right: none !important;
}


.rgCheck
{
	background-image: none !important;
}

.rgSelectedRow td.rgGroupCol
{
	background-image: none !important;
}

.rgHoveredRow td.rgGroupCol
{
	background-image: none !important;
}

.noLRBorder
{
	border-left: none !important;
	border-right: none !important;
}

/* Specific to the domain tagging page; has to be due to differences in client skins. */
.domainTaggingSelItems
{
	right: 0;
	margin-right: 5%;
	width: 30%;
	position: fixed;
}

/*********************************************************************************/
/* chart classes */
/*********************************************************************************/
.chartHolder
{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.gridClass
{
	clear: both;
}
/*********************************************************************************/
/* edit form template within a grid classes */
/*********************************************************************************/
.rgEditRow, .rgEditRow td
{
	border: none !important;
	background-color: transparent !important;
	display: none;
}

.rgEditForm
{
	border: none !important;
}

.gridEditForm
{
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	padding-left: 5px;
	border-top: 1px solid #414042;
	border-bottom: 1px solid #414042;
}

.gefTitle
{
	font-size: 150%;
	color: #F5F5F5;
	margin-left: 170px;
}

.gefLabel
{
	float: left;
	width: 150px;
	padding-right: 20px;
	text-align: right;
	clear: both;
	margin-bottom: 15px;
}

.gefItem
{
	float: left;
}

.gefError
{
	color: Red;
}
/*********************************************************************************/
/* loading panel and tool tip classes */
/*********************************************************************************/
.MyModalPanel
{
	position: fixed;
	z-index: 105;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #ffa center center no-repeat;
}

.raDiv
{
	z-index: 105 !important;
}

.toolTipError
{
	font-size: 20px;
	color: Red;
}

.toolTipSuccess
{
	font-size: 20px;
	color: Green;
}

/*#####################################################################################*/
/* Badge Item Classes */
.uploadErrorMessage
{
	font-size: 120%;
	margin-top: -5px;
	padding-bottom: 10px;
}

.prevDiv
{
	position: fixed;
	left: 0;
	right: 0;
	margin: auto;
	top: 25%;
	z-index: 100;
	/*	box-shadow: rgba(0, 0, 0, 0.2) 1px 1px;*/
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
	border: 4px solid #e6e7e8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px; /* IE9 apparently needs all 4 declared */
	background-color: #e6e7e8;
	display: none;
}

.prevDivClose
{
	float: right;
	padding-right: 25px;
	margin-top: -15px;
}

.prevDivText
{
	width: 100%;
	background-color: White;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px; /* IE9 apparently needs all 4 declared */
}

#prevDivSmall
{
	width: 700px;
}

.badgeListHeader
{
	border-bottom: solid 4px #e6e7e8;
	width: 100%;
}

.badgeTitleSmall
{
	width: 100%;
	font-size: 150%;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	height: 30px;
}

.badgeImageSmall
{
	float: left;
	width: 220px;
	padding-left: 5px;
	padding-top: 5px;
}

.badgeDetailsSmall
{
	float: left;
	margin-left: 10px;
	width: 440px;
}

.badgeDetailsTitleSmall
{
	margin-bottom: 10px;
	border-bottom: 1px solid #414042;
	width: 100%;
	margin-top: 20px;
	font-size: 120%;
}

.badgeDetailsLabelSmall
{
	clear: both;
	float: left;
	width: 90px;
	padding-left: 10px;
	padding-bottom: 5px;
}

.badgeDetailsItemSmall
{
	float: left;
	width: 340px;
	padding-bottom: 5px;
	word-wrap: break-word;
}
/*#####################################################################################*/
/* Badge List Classes */
.badgeHeaderTitle
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	background-color: #e6e7e8;
	float: left;
	padding: 5px 20px 5px 20px;
	clear: both;
	font-size: 120%;
}

.badgeHolder
{
	float: left;
	width: 100%;
	clear: both;
}


.badgeItem
{
	float: left;
	margin: 10px;
	text-align: center;
}

.badgeImage
{
	height: 64px;
	width: 64px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.badgeName
{
	display: block;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

div.tooltip span
{
	display: none;
	background: #333;
	background: rgba(0,0,0,.8);
	border-radius: 5px;
	color: #fff;
	padding: 5px 15px;
	z-index: 98;
	width: 220px;
}

div.tooltip:hover span
{
	display: none;
	display: inline;
	position: absolute;
	margin-left: -30px;
}

.noBorder, .noBorder:hover, .noBorder:visited
{
	border: none;
	text-decoration: none;
}

.badgeTitle
{
	font-size: 14px;
}

.badgeListCheckDiv
{
	display: inline;
	float: left;
	padding-top: 7px;
	margin-left: -26px;
}

.badgeImageSig
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.badgeItemSig
{
	float: left;
	margin: 5px;
	text-align: center;
}
/*#####################################################################################*/
/* The only way to change the RadProgressBar color (not the font, but the progress bar) is to use these defined classes, */
/* then assign the RadProgressBar the class in the code behind. */
div.greenRadProgressBar .rpbStateSelected, div.greenRadProgressBar .rpbStateSelected:hover, div.greenRadProgressBar .rpbStateSelected:link, div.greenRadProgressBar .rpbStateSelected:visited
{
	background-color: lime;
	color: black;
}

div.yellowRadProgressBar .rpbStateSelected, div.yellowRadProgressBar .rpbStateSelected:hover, div.yellowRadProgressBar .rpbStateSelected:link, div.yellowRadProgressBar .rpbStateSelected:visited
{
	background-color: yellow;
	color: black;
}

div.redRadProgressBar .rpbStateSelected, div.redRadProgressBar .rpbStateSelected:hover, div.redRadProgressBar .rpbStateSelected:link, div.redRadProgressBar .rpbStateSelected:visited
{
	background-color: red;
	color: black;
}
/*#########################################################################################*/
/* tans link popup classes */
.transLink
{
	position: fixed;
	left: 0;
	right: 0;
	margin: auto;
	top: 35%;
	z-index: 100;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px; /* IE9 apparently needs all 4 declared */
	background-color: white;
	display: none;
	width: 400px;
}

.transLink img
{
	cursor: pointer;
}

.transLinkContent
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	float: left;
	width: 90%;
}

.transCloseDiv
{
	float: right;
	padding-right: 10px;
	padding-top: 5px;
}

.transCloseDiv a
{
	color: #F5F5F5;
}

.transLinkUrl
{
	clear: both;
	margin-top: 10px;
	padding-bottom: 15px;
	padding-left: 5px;
}
/*#########################################################################################*/
/* classes for public badge page */
.pubBadgeHolder
{
	width: 100%;
	text-align: center;
}

.pubBadgeContent
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.pubBadgeAddress
{
	float: left;
}

.pubBadgeName
{
	font-size: 14px;
}

.pubBadgeImage
{
	float: right;
}
/*#########################################################################################*/
/* classes for the little social share div on a preview of a badge */
#shareBadgeDiv
{
	float: left;
	padding-left: 10px;
}

.numViewsDiv
{
	float: right;
	margin-right: 25px;
	margin-top: 7px;
	padding-bottom: 10px;
}

ul.shareBadgeDiv
{
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-perspective: 10000px;
	-moz-perspective: 10000px;
	-o-perspective: 10000px;
	perspective: 10000px;
}

ul.shareBadgeDiv li
{
	display: inline-block;
	width: 25px;
	text-align: center;
	height: 30px;
	background: transparent;
	cursor: pointer;
}

ul.shareBadgeDiv li a
{
	display: block;
	width: 100%;
	height: 100%;
	color: #F5F5F5;
	text-decoration: none;
	outline: none;
	-webkit-transition: all 300ms ease-out 0.1s;
	-moz-transition: all 300ms ease-out 0.1s;
	-o-transition: all 300ms ease-out 0.1s;
	transition: all 300ms ease-out 0.1s;
}

ul.shareBadgeDiv li a span
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 5px;
	display: block;
	width: 100%;
	height: 100%;
	-webkit-transition: all 300ms ease-out 0.1s;
	-moz-transition: all 300ms ease-out 0.1s;
	-o-transition: all 300ms ease-out 0.1s;
	transition: all 300ms ease-out 0.1s;
}

ul.shareBadgeDiv li a img
{
	border-width: 0;
	height: 20px;
	width: 20px;
}

ul.shareBadgeDiv li:hover a
{
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 5px #eee inset;
	-moz-box-shadow: 0 0 5px #eee inset;
	box-shadow: 0 0 5px #eee inset;
}

ul.shareBadgeDiv li:hover a span
{
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

/* Class for the RadTreeView and RadTreeNodes */
/* In this case, the default list item puts a square box in front of each node. */
/* That is great for most lists, but not in the RadTreeView. */
.radCertTreeLogic ul li
{
	list-style:none;
}

/* make sure the RadTreeView image size stays 24 x 24, no matter what the actual icon/image is. */
.RadTreeView .rtImg
{
	width: 24px;
	height: 24px;
}

/*#########################################################################################*/

.acclaimBadgeNotFound
{
	background-color: red;
	padding: 8px 5px;
	color: white;
	font-size: 10px;
	line-height: 24px;
}

.acclaimBadgeDisabled {
	background-color: yellow;
	padding: 8px 5px;
	color: black;
}

/*#########################################################################################*/
/* classes for QstnrStartAndSubmit.ascx
*/
.qsasMessageAllign
{
	text-align: center;
}

.qsas33pctSpacing
{
	width: 33%;
}

.qsas25pctSpacing
{
	width: 25%;
}

.qsasCenterAlign
{
	margin-left: auto;
	margin-right: auto;
}

.qsasLeftAlign
{
	float: left;
}

.qsas20TopPadding
{
	margin-top: 20px;
}

.qsasWidth50pct
{
	width: 30%;
}

/*#########################################################################################*/
/* classes for the public badge page */
.publicDivHolder
{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
	border: 4px solid #e6e7e8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px; /* IE9 apparently needs all 4 declared */
	background-color: #e6e7e8;
}

*:focus
{ /* this removes the blue box chrome automatically puts on things */
	outline: 0;
}

span.logicFolderPoints
{

}

span.logicPoints
{
	color: white;
	background-color: green;
	border-radius: 0.5em;
	padding: 0.25em;
}

span.logicMaxPoints
{
	color: white;
	background-color: red;
	border-radius: 0.5em;
	padding: 0.25em;
}

.logicFolderLevelOne
{
	background-color: rgb(200, 200, 200);
}

/*#########################################################################################*/
/* classes for the catalog details pages */
.editCatDetailsLabelCol
{
	padding-bottom: 25px;
	width: 140px;
	float: left;
	clear: left;
}
.editCatDetailsItemCol
{
	padding-bottom: 25px;
	float: left;
}
.editCatDetailsMsgCol
{
	float: left;
	padding-left: 15px;
}
.editCatDetailsError
{
	color: red;
}

/*#########################################################################################*/
/* classes for the rad tree logic printer friendly pop up window */

.rtlPrinterFriendly
{
		position: fixed;
		left: 0;
		right: 0;
		margin: auto;
		top: 25%;
		z-index: 100;
		-moz-box-shadow: 0 0 5px 5px #888;
		-webkit-box-shadow: 0 0 5px 5px#888;
		box-shadow: 0 0 5px 5px #888;
		border: 4px solid #f5f5f5;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px 5px 5px 5px; /* IE9 apparently needs all 4 declared */
		display: none;
		background-color: white;
		width: 40%;
		max-height: 400px;
		overflow: auto;
		padding-left: 10px; 
		padding-top: 10px;
}
.rtlPrintLnk
{
	cursor: pointer;
}
.rtlLogicTree
{
	clear: both;
	padding-top: 15px;
}
.rtlClose
{
	float: right;
	cursor: pointer;
	padding-right: 10px;
}

/* Some clients have a fixed size for the Search User and Search Candidate fieldsets. Others want a longer text box for their IDs. These Css Classes let them do that. */
.srchRbList
{
	width: 250px;
}

.srchTextBox
{
	width: 200px;
}

.srchConstraint
{
	width: 300px;
}

.srchCandidate {
    width: 425px;
    float: left;
}

.srchCandidate table tr td.frmCtnrLabel {
    text-align: left;
}

/* ##########################################################################################*/
/* Styles for custom above page localization html */

.primaryButton
{
    background-image: linear-gradient(-180deg, #F7DD9E 0%, #F2C250 100%);
    border: 1px solid #A2A6AC;
    border-radius: 2px;
    font-size: 14px;
    color: #111111;
    line-height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
	text-decoration: none;
}

.secondaryButton
{
    background-image: linear-gradient(-180deg, #F6F7F9 0%, #E8E9EC 100%);
    border: 1px solid #A2A6AC;
    border-radius: 2px;
    font-size: 14px;
    color: #111111;
    line-height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
	text-decoration: none;
}
.primaryButton:hover
{
	color: #111111;
	text-decoration: none;
}
.secondaryButton:hover{
	text-decoration: none;
	color: #111111;
}
.primaryButton:active, .secondaryButton:active{
    /*Format <inset> <x-offset> <y-offset> <blur> <amount> <color */
	-moz-box-shadow:    inset 0 0 2px #000000;
	-webkit-box-shadow: inset 0 0 2px #000000;
	box-shadow:         inset 0 0 2px #000000;
	text-indent:1px;

}

/*Candidate Directory */
.srchCandidateLeft
{
	display: inline-block;
	width: 650px;
	float: left;
}
.srchCandidateRight
{
	display: inline-block;
	width: 450px;
	float: left;
}

/*#############################################################################################*/
/* questionnaire stuff */
/*#############################################################################################*/
.qstTabHolder
{
	float: left;
	width: 20%;
}
.qstTab{
	clear: both;
	padding: 15px 0 15px 0;
}
.qstTab:hover
{
	background-color:#EBEBEC;
}
.qstTabSel{
	background-color:#EBEBEC;
}
.qstTab a{
	font-size: 15px;
	text-decoration: none;
	color: #444444;
}
.qstForm{
	float: left;
	width: 78%;
	padding-left: 2%;
}
.qstnrItemLbl
{
	width: 200px;
	float: left;
	font-weight: bold;
	padding-right: 10px;
}
.qstnrItem {
	width: 350px;
	float: left;
	margin-right: 50px;
}
.qstnrSpacer
{
	clear: both;
	height: 20px;
}
.approve
{
	float: left;
}

.qstnrItemWidth{
	width: 350px !important;
}
.approveAll
{
	margin-left: 600px;
	margin-bottom: 10px;
}
.groupHeader{
	margin-bottom: 20px;
	clear: both;
}
.summaryHeader {
	margin-bottom: 20px;
	color: #3588CC;
	font-size: 20px;
}
.tablnk{
	float: left;
	width: 87%;
}
.tabProgress
{
	float: right;
	width: 10%;
	text-align: right;
	padding-right: 1%;
}

.instructions{
	width: 100%;
	clear: both;
}
.copyDiv{
	position: fixed;
	left: 0;
	right: 0;
	margin: auto;
	top: 25%;
	z-index: 100;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
	border: 4px solid #f5f5f5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px; /* IE9 apparently needs all 4 declared */
	background-color: white;
	width: 40%;
	max-height: 400px;
	overflow: auto;
	padding-left: 10px;
	padding-top: 10px;
}
.exhibit {
	margin-bottom: 20px;
	padding-left: 20px;
}
.userBanned {
	background-color: red;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
.helpBtn {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold !important;
	font-size: 14px !important;
	background-image: linear-gradient(0deg, #FF9900 1%, #FF9900 41%, #FF9900 99%);
	box-shadow: inset 0 1px 2px 0 rgba(255,255,255,0.80);
	border: 1px solid #A48222;
	border-radius: 2px;
	color: white !important;
	line-height: 18px;
	padding: 5px 25px 5px 25px;
}
